/node_modules
/node_modules__old
/node_modules__old2
/public/hot
/public/storage
/public/js
/public/css
/public/_admin
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.testing
.phpunit.result.cache
/public/mix-manifest.json
