body.dark {
  h1 {
    color: white;
  }

  .card-body,
  .chord-text,
  .card {
    background-color: #111;
    color: #ccc;
  }

  .border {
    border-color: #222 !important;
  }

  .text-very-muted {
    color: #222;
  }

  a, .btn.btn-primary, .btn-primary.custom-file-control::before {
    color: #4dc0b5;

    &:hover {
      color: #328e85;
    }
  }

  &,
  .body-bg {
      background-color: #303030 !important;
  }
}
