body.dark {
    &,
    .body-bg,
    .admin-content {
        background-color: #303030 !important;
        color: #ccc;
    }

    h1,
    .navbar-title,
    .content-label,
    .table thead th {
        color: #eee !important;
    }

    .card-body,
    .chord-text,
    .card,
    .btn {
        background-color: #222;
        color: #ccc;
    }

    .btn-secondary {
        border-color: $main-grey-border-dark !important;
    }

    .text-very-muted {
        color: #222;
    }

    a,
    .btn.btn-primary,
    .btn-primary.custom-file-control::before,
    .sidebar a.active {
        color: #4dc0b5;

        &:hover {
        color: #328e85;
        }
    }

    .blue.lighten-3 {
        background-color: #0065b8 !important;
    }

    .btn.admin-report {
        &, &:hover {
            color: #fff;
        }
    }

    .sidebar a.active {
        background-color: #222 !important;
    }

    .navbar,
    h1,
    .edit-description h5,
    .sidebar {
        border-bottom-color: $main-grey-border-dark !important;
    }

    .primary,
    .accent {
        background-color: #4dc0b5 !important;
        border-color: #4dc0b5 !important;
    }
}
