html,
body {
    height:                 100vh;
    max-height:             100vh;

    overflow:               hidden;

    -webkit-font-smoothing: antialiased;

    &::-webkit-scrollbar {
        display: none;
    }
}

// Content under navbar (sidebar + content)
.layout-body {
    max-height: calc(100vh - 75px);
    height:     calc(100vh - 75px);

    .admin-content {
        overflow-y: scroll;
        max-height: calc(100vh - 70px);

        .content-header {
            border-bottom: 1px solid #dadce0;
            margin:        1.3rem 0 2rem;

            h1 {
                font-weight: 400;
                font-size:   18px;
            }
        }
    }
}


/**
Scrollbar design
 */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .2);
}

