.sidebar {
    border-bottom: 1px solid $main-grey-border;
    margin: 0 -15px;
    padding: 0 15px;

    @include media-breakpoint-up(lg) {
        padding-right: 1rem;
        padding-left: 0;
        padding-top: 1.3rem;
        height: calc(100vh - (47px + 1px + 1.64rem));
        overflow: auto;
        border-bottom: none;
    }


    a {
        padding:     0.4rem 10px;
        margin:      0;

        text-align:  left;
        will-change: initial;

        font-size:   14px;
        font-weight: 500;

        color:       rgb(95, 99, 104);

        &:hover,
        &:focus {
            text-decoration:            none;
            background-color: rgba(0,0,0,.04);
        }

        &.active {
            font-weight:                600;

            &,
            &:hover,
            &:focus {
                color:                  #3f51b5;
                background-color:       #3f51b519 !important;
            }
        }

        // Fontawesome icon
        i {
            width: 35px;
            font-size: 18px;

            position: relative;
            top: 1px;

            @include media-breakpoint-up(lg) {
                margin-left: -22px;
            }
        }

        .badge {
            float:            right;

            position:         relative;
            top:              3px;

            background-color: #36c374;
            color:            black;
        }

        @include media-breakpoint-up(lg) {
            width:         100%;
            padding:       0.66875rem 1rem 0.66875rem calc(2rem + 22px);
            margin-left:   0 !important;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}
