/**
Imports
 */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nunito");

/**
SASS variables config
 */
@import "variables";

$main-red:    #d83027;
$main-blue:   #3961ad;
$main-green:  #098845;
$main-yellow: #faa61b;

/**
CSS imports
 */
@import "~bootstrap-material-design/scss/bootstrap-material-design"; // Materialize.css
@import "dark";
@import "navbar";
@import "sidebar";
@import "print";
@import "search";
@import "cards";
@import "elements";
@import "layout";
@import "forms";
@import "dashboard";



//.center-container {
//    display:         flex;
//    justify-content: center;
//    align-items:     center;
//    margin-top:      5vh;
//    margin-bottom:   5vh;
//    width:           100%;
//}



div.theme--light.application {
    background: transparent;
}

div.application {
    font-family: inherit;
}

.theme--dark {
    .primary--text, .accent--text {
        color: #4dc0b5 !important;
    }
}

// custom css
.body-bg {
    background-color: $body-bg;
}

.auto-grow-alt textarea {
    height: 60vh;
}

