textarea.form-control
{
    line-height: 1.8;
    padding: 10px;
    background-image: none;
    box-shadow: 0 0 70px -25px inset;
}

.edit-description h5
{
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px #bec0c1 solid;
}

// vuetify tabs height not updating bug fix, see issue #6962
.v-tabs .v-window__container {
    height: auto !important;
}