textarea.form-control
{
    line-height: 1.8;
    padding: 10px;
    background-image: none;
    box-shadow: 0 0 70px -25px inset;
}

.edit-description h5
{
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px #bec0c1 solid;
}

// vuetify tabs height not updating bug fix, see issue #6962
.v-tabs .v-window__container {
    height: auto !important;
}

.v-label {
    margin-bottom: 0;
}


.admin-controls {
  position: fixed;
  top: 30vh;
  left: 0.3125rem;
  z-index: 20;
  a:nth-of-type(odd) {
    i {
      width: 16px;
    }
  }
  a:nth-of-type(odd) + a {
    padding-left: 5px;
    padding-right: 10px;
    display: none;
    background: rgba(248, 250, 252, 0.8);
    border-radius: 10px;
    .dark & {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  a:nth-of-type(odd):hover + a {
    display: inline-block;
  }
}

// admin sidebar
.sidebar {
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 66px);
  }
  
  @include media-breakpoint-down(md) {
    margin-right: -15px;
  }

  height: 100%;
  margin-left: -15px;

  a {
    padding: 0.4rem 0.8rem;

    @include media-breakpoint-up(lg) {
      width:    100%;
      padding:    0.66875rem 1rem;
    }

    margin:     0;

    color:      white !important;
    text-align: left;

    &:hover {
      color: white;
    }

    // Fontawesome icon
    i {
      width: 20px;
    }

    .badge {
      float:            right;

      position:         relative;
      top:              3px;

      background-color: #36c374;
      color:            black;
    }
  }
}

.dash {
  padding-right: 5px;
  padding-left: 5px;

  h5.card-title {
		font-size: 1.1rem;
		margin-bottom: 0.25rem;
  }
  
  & > .card {
    margin-left: 10px;
    margin-right: 10px;
  }

	a {
		flex: 0 0 calc(100% / 3 - 20px) !important;
		margin-left: 10px;
		margin-right: 10px;
    margin-bottom: 20px;

    @include media-breakpoint-between(sm, lg) {
      flex: 0 0 calc(100% / 2 - 20px) !important;
    }

    @include media-breakpoint-down(xs) {
      flex: 0 0 100% !important;
    }

    img, .img-icon {
      height: 16px;
      transition: opacity 0.2s;
    }
    
    &:hover {
      text-decoration: none;

      img, .img-icon {
        opacity: 0.5;
      }
    }

    .card {
      height: 100%;
      flex-direction: row;
      transition: border 0.2s;
      
      img, .img-icon {
        height: auto;
        text-align: center;
        font-size: calc(60px - 1rem);
        line-height: 1;
        width: 60px;
        margin: auto 0;
        padding: 1rem 0 1rem 1.5rem;
      }

      .fa-phone-square {
        transform: scaleX(-1);
      }
  
      .card-body {
        flex: 1;
        margin: auto 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
	} 
}