/**
Imports
 */
@import url("https://fonts.googleapis.com/css?family=Nunito");

@font-face {
    font-family: "Luckiest Guy";
    src: url("/fonts/luckiest-guy.regular.ttf");
}

@font-face {
    font-family: "Cocogoose";
    src: url("/fonts/cocogoose-pro-regular.ttf");
}

@import "variables";
$main-red: #d83027;
$main-blue: #3961ad;
$main-green: #098845;
$main-yellow: #faa61b;

@import "~bootstrap-material-design/scss/bootstrap-material-design"; // Materialize.css
@import "admin";
@import "dark";
@import "navbar";
@import "print";
@import "search";
@import "song";


h1,
h2,
h3,
h4 {
    margin: 0.7em 0;
}

.material-shadow {
    -webkit-box-shadow: #1a1f21c2 2px 2px 6px;
    box-shadow: #1a1f21c2 2px 2px 6px;
}

.material-shadow-text {
    text-shadow: #1a1f21c2 2px 2px 6px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.card {
    margin-bottom: 20px;
}

/**
Layout
 */

html,
body {
    height: 100%;
    overflow-x: visible;
}

input::placeholder {
    line-height: inherit;
}

[v-cloak] {
    display: none;
}

.search-home,
.form-control {
    line-height: calc((2.3775rem + 2px) / 1.5);
}

.navbar {
    z-index: 200;
    background-color: #292929;
    min-height: 66px;
    font-family: "Nunito", sans-serif;
}

.navbar-brand {
    padding: 0 0.5rem;
}

.navbar-label {
    padding: 3px 10px;

    background-color: #292929;
    color: white;
}


/**
Home page specific elements
 */

.home {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .card {
        opacity: 0.9;
    }
}

.home .home-init {
    .search-balance {
        max-width: 0;
        padding: 0;
    }
}

.home .home-afterinit {
    .logo-wrapper {
        opacity: 0;
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.background-home {
    background-image: url("/img/bg_center.svg");
    background-color: #da3926;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex: 1;
    // min-height: 450px;

    @include media-breakpoint-down(sm) {
        // background-position: -170.5px 0;
    }
}


.card-blue {
    border-radius: 3px;

    .card-header {
        color: white;
        background-color: $main-blue !important;

        border-radius: 3px 3px 0 0;

        a {
            color: white;
            font-weight: bold;
        }
    }

    a {
        color: $main-blue;
    }
}

.card-green {
    border-radius: 3px;

    .card-header {
        color: white;
        background-color: $main-green !important;

        border-radius: 3px 3px 0 0;

        a,
        a:hover {
            color: white;
        }
    }

    a {
        color: $main-green;
    }
}

.card-red {
    border-radius: 3px;

    .card-header {
        color: white;
        background-color: $main-red !important;

        border-radius: 3px 3px 0 0;

        a {
            color: white;
        }
    }

    a {
        color: $main-red;
    }
}

.text-very-muted {
    color: #efefef;
}

.no-left-padding {
    padding-left: 2px !important;
}

.author-secondary-links a {
    color: #6c757d !important;
}

.navbar-dark .navbar-text.user-logged-in-btn {
    color: #aaa;

    &:hover {
        text-decoration: none;
    }
}

.error {
    color: white;
    text-align: center;

    h1 {
        font-size: calc(4vw + 50px);
        font-weight: bold;
        margin-bottom: 0;
    }

    p {
        font-size: calc(2vw + 10px);
    }

    .display-all-songs {
        font-size: calc(1vw + 10px);
    }
}

.stretched-link {
    position: static;
    will-change: initial;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;

    @include media-breakpoint-down(sm) {
        position: relative;
        height: auto;
        padding-top: 1rem;
        width: 100%;
    }
}

.minw-45 {
    min-width: 45%;
}

.w-min {
    width: 1%;
}

