/**
Imports
 */
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: "Luckiest Guy";
  src:         url('/fonts/luckiest-guy.regular.ttf');
}

@font-face {
  font-family: "Cocogoose";
  src:         url('/fonts/cocogoose-pro-regular.ttf');
}

@import 'variables';
@import 'admin';
@import '~bootstrap-material-design/scss/bootstrap-material-design'; // Materialize.css

h1, h2, h3, h4 {
  margin: 0.7em 0;
}

.material-shadow {
  -webkit-box-shadow: #1a1f21c2 2px 2px 6px;
  box-shadow:         #1a1f21c2 2px 2px 6px;
}

.material-shadow-text {
  text-shadow: #1a1f21c2 2px 2px 6px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select:   none; /* Safari */
  -khtml-user-select:    none; /* Konqueror HTML */
  -moz-user-select:      none; /* Firefox */
  -ms-user-select:       none; /* Internet Explorer/Edge */
  user-select:           none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

.card {
  margin-bottom: 20px;
}

/**
Layout
 */
.navbar {
  z-index:          200;
  background-color: #292929;

  font-family:      "Nunito", sans-serif;
}

.sidebar {
  height:  calc(100vh - 66px);
  padding: 5px 0 0;

  a {
    width:      100%;

    margin:     0;
    padding:    0.66875rem 1rem;

    color:      white !important;
    text-align: left;

    &:hover {
      color: white;
    }

    // Fontawesome icon
    i {
      width: 20px;
    }

    .badge {
      float:            right;

      position:         relative;
      top:              3px;

      background-color: #36c374;
      color:            black;
    }
  }

  .navbar-label {
    padding:          3px 10px;

    background-color: #292929;
    color:            white;
  }
}

.content {
  height:     calc(100vh - 66px);

  @include media-breakpoint-down(sm) {
    background-position: -290.5px -11px;
  }

  padding:    0;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-padding {
  padding: 0 30px 20px;
}

.content-padding-top {
  padding-top: 30px;
}

/**
Home page specific elements
 */

.background-home {
  background-image:    url('/img/bg_center.svg');
  background-position-x: center;
  background-size:     auto 120%;
  background-repeat:   no-repeat;
  min-height:          calc(100vh - 66px);

  @include media-breakpoint-down(sm) {
    background-position: -290.5px -11px;
  }
}

.logo-wrapper {
  text-align:  center;
  padding-top: 160px;

  @include media-breakpoint-down(sm) {
    padding-top: 140px;
  }

  .logo {
    height:              130px;
    width:               130px;

    display:             inline-block;
    position:            relative;
    top:                 27px;

    background-image:    url(/img/logo_bubble.svg);
    background-position: center;
    background-size:     149%;

    @include media-breakpoint-down(sm) {
      top:          2px;
      height:       50px;
      width:        50px;

      margin-right: 6px;
    }
  }

  .caption {
    font-size:   118px;
    color:       white;

    line-height: 160px;

    font-family: 'Cocogoose', cursive;

    @include media-breakpoint-down(sm) {
      font-size:   60px;
      line-height: 60px;
    }
  }
}

.search-wrapper {
  text-align: center;

  position:   relative;
  margin-top: 1px;

  $search-wrapper-height: 47px;
  height:     $search-wrapper-height;

  .search-home {
    display:          inline-block;

    width:            518px;

    padding:          10px 20px;
    margin-right:     7px;
    margin-left:      18px;

    border:           none;

    background-color: white;
    border-radius:    8px;
    font-size:        16px;

    &:focus {
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      width:  calc(100% - 30px);

      margin: 15px;
    }
  }

  .search-submit {
    width:            70px;
    height:           $search-wrapper-height;

    background-color: white;
    border-radius:    8px;
    border:           none;

    cursor:           pointer;

    transition:       0.3s;

    &:hover {
      background-color: #d4d4d4;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

/**
View: Search results
 */
.search-basic {
  width:   500px;
  display: inline-block;
}

/**
ChordPro view
 */
.transpose-control-wrapper {
  float: right;

  .btn {
    margin-bottom: 0;
  }
}


#lyrics {
  display:     inline-block;

  width:       100%;

  text-align:  left;
  margin:      0 auto 0;
  overflow-x:  scroll;

  font-family: monospace;
  white-space: nowrap;
  font-size:   16px;

  padding:     10px;
}


#lyrics .command_block {
  padding-bottom: 10px;
}


#lyrics .command_block h1 {
  font-size: 1.8rem;
  margin:    0;
  padding:   0;
}


#lyrics .command_block h4 {
  font-size: 1.4rem;
  margin:    0;
  padding:   0;
}


#lyrics .command_block em.comment {
  display: block;
}


#lyrics .lyric_block {
  //column-count: 2;
}


#lyrics .lyric_block .line {
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside:           avoid; /* Theoretically FF 20+ */
  break-inside:                avoid-column; /* IE 11 */
  //display:                     table; /* Actually FF 20+ */
}


#lyrics .lyric_block .chord {
  color:       #098845;
  font-weight: bold;
}


@media print {
  #lyrics {
    padding: 0;
    border:  none;
  }
}