
.navbar.absolute-top {
  z-index: 201;

  @media screen and (max-width: 350px) {
    display: none;
  }
}

.mobile-padding-button {
  display: none;

  @media screen and (max-width: 350px) {
    display: block;
  }
}


.navbar {
  padding: 0.5rem 0;
}

.navbar > div {
  width: 100%;
  /* max-width: 994px; */
  margin: 0 auto;
  padding: 0;
}

.navbar .container {
  // override bootstrap flex behaviour
  display: block;
}

.navbar.absolute-top a i, .card-header i {
  padding-right: 5px;
}

.navbar.fixed-top {
  padding-top: 0;
  padding-bottom: 0;
  line-height: initial;
  min-height: auto;
}

.navbar a {
  margin-bottom: 0;
}

.navbar .btn.btn-secondary {
  color: #aaa;
}
