name: production_deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: SSH in production server
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /var/www/html/regenschori-api && make production-deploy --silent
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          privateKey: ${{ secrets.PRIVATE_KEY}}
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_DEPLOYS_WEBHOOK_URL }}
          SLACK_FOOTER: ''
          MSG_MINIMAL: true
          SLACK_TITLE: '${{ github.workflow }} – ${{ github.event.repository.name }}'
          SLACK_MESSAGE: 'Proběhlo produkční nasazení na api.proscholy.cz! :tada:'
          SLACK_COLOR: 'warning'
